.con_transação{  /*acento*/ 
    width: 90.27%;
    height: 298px;
    background:white;
    margin-left: 20px;
    margin-top: 26px;
    border-bottom-style: solid  ;
    border-bottom-width: 1px;
    
}


.con_transação .con_transação_form{   /*acento*/ 
    width: 100%;
    height:261.44px ;
    
    /**/
}


.con_transação .con_transação_form label{   /*acento*/ 
    font-family: 'lato';
    font-size: 14px;
    font-weight: 400;
    color:#333333 ;
    

}



/*tipo*/

 .con_transação .con_transação_form .con_transação_form_tipo select {  /*acento*/ 
    margin-top: 4.78px;
    width: 100%;
    height: 32px;
    border: 1px solid #979797;
    border-radius: 4px;
    padding-left: 5px ;
    
    
}


.con_transação .con_transação_form .con_transação_form_tipo #escolha{   /*acento*/ 
    color: #979797;
}


.con_transação .con_transação_form .con_transação_form_tipo option{   /*acento*/ 
    color: black;
    
    
}



/*nome*/
.con_transação .con_transação_form .mercadoria{  /*acento*/ 
    margin-top: 20px;
}


.con_transação .con_transação_form .mercadoria #nome_mercadoria-input{   /*acento*/ 
    margin-top: 4.78px;
    width: 100%;
    height: 32px;
    border: 1px solid #979797;
    border-radius: 4px;
    padding-left: 11px ;
    
}




/*valor*/
.con_transação .con_transação_form .valor{   /*acento*/ 
    margin-top: 20.67px;
}


.con_transação .con_transação_form .valor #valor_mercadoria_input{   /*acento*/ 
    margin-top: 4.43px;
    width: 100%;
    height: 32px;
    border: 1px solid #979797;
    border-radius: 4px;
    padding-left: 11px ;
    
}




/*botao*/
.con_transação .con_transação_form .botao{   /*acento*/ 
    margin-top: 19.78px;
}


.con_transação .con_transação_form .botao #botao_estilo{   /*acento*/ 
    width: 100%;
    height: 32px;
    border-radius: 8px;
    background: #333333;
    color: white;
    font-weight:400 ;
    font-size: 14px;
    text-align: center;
    
}


/*--------------------   Responsividade   -------------------- */

/* #-------------------- tablet --------------------#  */

@media (min-width:768px) {
 
    .con_transação{  /*acento*/ 
        width: 94,8;
        height: 189px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
      
    }


    .con_transação .con_transação_form{   /*acento*/ 
        border: 1px solid;
        max-height: 189px;
        justify-content: space-between;
        display: inline-flex;
        flex-flow: wrap;
        padding: 32px;
        
    }


    .con_transação .con_transação_form::after{   /*acento*/ 
        content: "Nova transação";
        transform:translate(280px ,-125px) ;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        
       
       
       
    }


    .con_transação_form_tipo  #escolha   {   /*acento*/ 
        display: flex;
        
    }


    .mercadoria  #nome_mercadoria-input    {  /* Mudança de nome */
        display: flex;
       
        
 
    }


    .valor #valor_mercadoria_input{ 
        display: flex;
       
        
    }


    .botao #botao_estilo{

        margin-top: 19px;
           
    }


    .con_transação_form .con_transação_form_tipo {   /*acento*/ 
        width: 19.54%;
        height: 32px;
        margin-left: 20px;
        margin-top: 20px;        
        position: relative; 

    }


    .con_transação_form .mercadoria {  /*acento*/ 
        width: 45.32%;
        height: 32px;

    }


    .con_transação_form .valor{  /*acento*/ 
        width: 19.54%;
        height: 32px;
        margin-right: 20px;
    }
    
    
    .con_transação_form .botao{  /*acento*/ 
        width: 26.1%;
        height: 32px;
        margin-top: 19.78px;
        margin-left: 508px;
        padding: 6px;
        
      
    }

    

}
/*******************************************/


/*--------------------   Responsividade   -------------------- */

/* #-------------------- tablet landscape --------------------#  */


@media (min-width:1110px){
    main{
        display:flex;
        
    
    }


    .con_transação{   /*acento*/ 
        width:400px;
        height: 344px;
        margin-top: 48px;
        position: absolute;
        margin-left: 20px;
        
        


    }


    .con_transação .con_transação_form{   /*acento*/ 
        
        
        display: block;
        padding: 0;
        height: 100%;
        max-height: 344px;
        
    }


    .con_transação .con_transação_form::after{  /*acento*/ 
        display: flex;
       
        content: "Nova Transação";
        transform: translate(150px, -290px);

    }


    .con_transação .con_transação_form .con_transação_form_tipo{  /*acento*/ 
       
        width: 90%;
        margin-top:50px ;
        
    }


    .con_transação .con_transação_form .mercadoria{ /*acento*/ 

        width: 90%;
        margin-top:50px ;
        margin-left: 20px;
    }


    .con_transação .con_transação_form .valor{  /*acento*/ 
        width: 90%;
        margin-top:50px ;
        margin-left: 20px;
    }


    .con_transação .con_transação_form .botao{  /*acento*/ 
        position: relative;
        width: 90%;
        margin: 0;
        margin-top:30px ;
        margin-left: 20px;
       
    }
}
/*******************************************/

/*--------------------   Responsividade   -------------------- */

/* #-------------------- Desktop --------------------#  */

@media (min-width:1499px){
    main{
        margin-left: 200px;
       
    }

    .con_transação{  /*acento*/ 
        margin-top: 55px;
    }

    #botao_estilo{
        cursor: pointer;
        

    }



}
/*******************************************/