
/*---------- tablet ----------*/

@media (min-width:768px )  {
   
 

    footer{
        margin-top: 443px;
    }

    .con-transação .con-transação_form{


        background: red;
        border: 1px solid;
        max-height: 189px;
        



    }

   



}




